/*project 1 : Monthly Leaves*/

/*main*/
#main {
    background-color: #FFF1E4;
}
#main p.img {
    width: 35%;
}

/*link button*/
#intro .slide, #responsive .slide {width: 16%;}
.slide.pc:after {content: "PC"}
.slide.pc:before {content: "Width 1920px"}
.slide.tablet-h:after {content: "태블릿 가로"}
.slide.tablet-h:before {content: "Width 1024px"}
.slide.tablet-v:after {content: "태블릿 세로"}
.slide.tablet-v:before {content: "Width 768px"}
.slide.mobile:after {content: "모바일"}
.slide.mobile:before {content: "Width 414px"}
.pc {animation-duration: 0.2s;}
.tablet-h {animation-duration: 0.4s;}
.tablet-v {animation-duration: 0.6s;}
.mobile {animation-duration: 0.8s;}

/*design*/
#design .rowAr {
    margin-top: 150px;
}


/*ui ux*/
#ui_ux img {width: 100%;}

/*prototype*/
#prototype p img {width: 100%;}

/*interactive*/
#interactive .rowBt li:nth-child(1) {animation-duration: 0.1s;}
#interactive .rowBt li:nth-child(2) {animation-duration: 0.3s;}

#interactive .rowBt:nth-child(3) li:nth-child(1) {width: 35%;}
#interactive .rowBt:nth-child(3) li:nth-child(2) {width: 30%;}
#interactive .rowBt:nth-child(3) li:nth-child(3) {width: 30%;}
#interactive .rowBt:nth-child(4) li:nth-child(1) {width: 28%;}
#interactive .rowBt:nth-child(4) li:nth-child(2) {width: 28%;}
#interactive .rowBt:nth-child(4) li:nth-child(3) {width: 39%;}
#interactive .rowBt:nth-child(5) li:nth-child(1) {width: 46%;}
#interactive .rowBt:nth-child(5) li:nth-child(2) {width: 51%;}
#interactive .rowBt p.img {
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#interactive .rowBt:nth-child(5) li:nth-child(2) p.img {
    border: 1px solid var(--grapefruit);
    box-sizing: border-box;
}
#interactive .rowBt:nth-child(3) li:nth-child(1) .img {background-image: url(../img/ml_6.gif);}
#interactive .rowBt:nth-child(3) li:nth-child(2) .img {background-image: url(../img/ml_7.gif);}
#interactive .rowBt:nth-child(3) li:nth-child(3) .img {background-image: url(../img/ml_8.gif);}
#interactive .rowBt:nth-child(4) li:nth-child(1) .img {background-image: url(../img/ml_9.gif);}
#interactive .rowBt:nth-child(4) li:nth-child(2) .img {background-image: url(../img/ml_10.gif);}
#interactive .rowBt:nth-child(4) li:nth-child(3) .img {background-image: url(../img/ml_11.gif);}
#interactive .rowBt:nth-child(5) li:nth-child(1) .img {background-image: url(../img/ml_12.gif);}
#interactive .rowBt:nth-child(5) li:nth-child(2) .img {background-image: url(../img/ml_13.gif);}
#interactive .rowBt p.text {
    font-size: 0.9em;
    margin: 18px 0 90px;
}
#interactive .rowBt:last-child p.text {margin-bottom: 0;}

/*responsive*/
#responsive .link {margin-bottom: 100px;}
#responsive .rowBt {margin-bottom: 100px;}
#responsive .rowBt:nth-child(4) li {width: 20%;}
#responsive .rowBt:nth-child(4) li img {width: 100%;}
#responsive .rowBt:nth-child(4) li:nth-child(1) {animation-duration: 0.1s;}
#responsive .rowBt:nth-child(4) li:nth-child(2) {animation-duration: 0.2s;}
#responsive .rowBt:nth-child(4) li:nth-child(3) {animation-duration: 0.3s;}

/*next*/
#next .box:before {
    background-color: rgba(236, 132, 86, 0.47);
}
#next .box:after {
    width: 40%;
    height: 100%;
    background-image: url(../img/mu2.png);
    right: 20%;
    top: 20%;
}
#next:hover h2,
#next:hover p {
    text-shadow: 2px 2px 2px rgba(236, 132, 86, 0.7);
} 


/*1024*/
@media screen and (max-width:1024px) {
    #interactive .rowBt p.img {height: 150px;}
    #next .box:after {width: 50%;}
    #next h2,
    #next p {
        text-shadow: 2px 2px 2px rgba(236, 132, 86, 0.7);
    } 
}
/*768*/
@media screen and (max-width:768px) {
    #main p.img {width: 65%;}
    #intro .slide, #responsive .slide {width: 18%;}
    #responsive .rowBt:nth-child(4) {margin-bottom: 120px;}
    #responsive .rowBt:nth-child(5) {margin-bottom: 0;}
    #interactive .rowBt p.img {height: 140px;}
    #interactive .rowBt p.text {font-size: 0.85em;}
    #responsive .rowBt:nth-child(4) li {width: 23%;}
}
/*425*/
@media screen and (max-width:425px) {
    #main p.img {width: 80%;}
    
    #intro .slide, #responsive .slide, #main .slide {width: 48%;}
    .slide.pc {display: none;}
    .slide.tablet-h {display: none;}
    .slide.tablet-v {display: none;}
    .slide.mobile:after {content: "바로보기 (모바일)"}
    .slide.mobile:before {content: "Width 414px"}
    
    #design .rowAr {display: block;}
    
    #interactive .rowBt {flex-direction: column;}
    #interactive .rowBt:nth-child(3) li:nth-child(1),
    #interactive .rowBt:nth-child(3) li:nth-child(2),
    #interactive .rowBt:nth-child(3) li:nth-child(3),
    #interactive .rowBt:nth-child(4) li:nth-child(1),
    #interactive .rowBt:nth-child(4) li:nth-child(2),
    #interactive .rowBt:nth-child(4) li:nth-child(3),
    #interactive .rowBt:nth-child(5) li:nth-child(1),
    #interactive .rowBt:nth-child(5) li:nth-child(2) {width: 100%;}
    #interactive .rowBt:last-child li:first-child p.text {margin-bottom: 90px;}
    
    #responsive .rowBt:nth-child(4) {flex-wrap: wrap;}
    #responsive .rowBt:nth-child(4) li {width: 45%;}
    #responsive .rowBt:nth-child(5) {display: block;}
    
    #next .box:after {
        width: 65%;
        right: 5%;
    }
}