@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Monoton|Play');

/*reset*/
* {margin: 0; padding:0;}
a {text-decoration: none; color:inherit;}
li {list-style: none;}

/*full screen video*/
body {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #121212;
}
.vid {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.vid video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

/*header*/
header {
    background-image: linear-gradient(90deg, #edff8a, #96b900);
    width: 500px;
    height: 100%;
    transform: skewX(-35deg);
    transform-origin: left top; /*중심축을 바꾸는 속성. 기본은 center*/
}

/*logo*/
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    width: 200px;
}
.logo img {
    width: 100%;
}

/*gnb*/
header {
    position: relative;
}
.gnb { /*gnb : 1depth*/
    position: absolute;
    top: 150px;
    right: 0;
    width: 200px;
    font-family: 'play';
}
/*1depth*/
.gnb > li {
    position: relative;
    right: 20px;
}
.gnb > li b {
    display: inline-block;
    transform: skewX(35deg); /*글자를 똑바로*/
}
.gnb > li i {
    margin-right: 5px;
}
.gnb > li > a {
    display: block;
    width: 100%;
    line-height: 50px;
    text-align: right;
    padding-right: 40px;
}
.gnb > li:hover > a,
.gnb > li:focus > a,
.gnb > .on > a {
    background: #121212;
    color: #eee;
}

/*2depth*/
.gnb ul {
    position: absolute;
    left: 0;
    top: -5px;
    opacity: 0;
    transition: all 0.3s;
}
.gnb > li:hover ul {
    left: 210px;
    opacity: 0.9;
}
.gnb ul a {
    display: block;
    background: #333;
    color: #eee;
    width: 150px;
    text-align: center;
    font: 15px/40px 'play'; /*font-size/line-height 'font-family'*/
    border-top: 1px solid #cfff00;
}
.gnb ul a:hover {
    background: #cfff00;
    color: #121212;
    border-top: 1px solid #cfff00;
}
.gnb > .on ul {
    left: 210px;
    opacity: 0.8;
}

/*sns*/
.sns {
    position: absolute;
    right: 50px;
    top: 50px;
}
.sns a {
    display: inline-block;
    padding: 5px;
    color: #cfff00;
    font-size: 25px;
    opacity: 0.7;
    transition: all 0.3s;
}
.sns a:hover {
    opacity: 0.9;
    transform: translateY(-10px) rotate(-10deg) scale(1.2);
}

/*mainText*/
.txt {
    position: absolute;
    right: 50px;
    top: 300px;
}

.txt p:nth-child(1) {
    font: 150px Monoton;
    color: #cfff00;
    text-shadow: 3px 3px 5px #222;
    letter-spacing: 3px;
    line-height: 0;
}
.txt p:nth-child(1) em {
    font: italic 50px play;
    color: #ccc;
    letter-spacing: -1px;
}
.txt p:nth-child(2) {
    color: #ccc;
    font: 30px play;
    letter-spacing: -1px;
}
.txt p:nth-child(2) strong {
    color: #cfff00;
    font-size: 25px;
    text-shadow: 1px 1px 5px #000, 0 0 5px #fff;
}

/*side bar*/
aside {
    position: absolute;
    bottom: 0;
    right: -400px;
    width: 700px;
    height: 100%;
    background: rgba(0,0,0,0.5);
    transform: skewX(-35deg);
    transform-origin: right bottom;
    transition: all 0.7s;
}
aside:hover {
    right: 0;
}
aside .inner {
    position: absolute;
    left: 150px;
    bottom: 0;
    height: 100%;
    width: 400px;
    background: rgba(0,0,0,0.7);
    transition: all 0.7s;
}
aside:hover .inner {
    left: 50px;
}
aside .contents {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 300px;
    overflow: hidden;
}
aside .contents p {
    margin-top: 10px;
}
aside .contents b {
    display: inline-block;
    color: #cbcbcb;
    font-family: play;
    margin: 0 0 5px 5px;
    transform: skewX(35deg); /*부모요소에 적용된 skew값을 세워주기 위함*/
}
aside .contents a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.5;
}
aside .contents img {
    width: 100%;
}
aside .contents a:hover {
    opacity: 1;
}
/*콘텐츠 이미지 순차적으로 밀림효과*/
aside .contents p {
    transform: translateX(200px);
    transition: all 0.5s;
}
aside .contents p:nth-child(1) {
    transition-delay: 0.3s;
}
aside .contents p:nth-child(2) {
    transition-delay: 0.2s;
}
aside .contents p:nth-child(3) {
    transition-delay: 0.1s;
}
aside:hover .contents p {
    transform: translateX(0);
}
aside .btn {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 200px;
    height: 50px;
    transform: skewX(35deg);
    transition: all 0.5s;
}
aside:hover .btn {
    opacity: 0;
    left: -50px;
}
aside .btn i {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 70px;
}
/*자동재생애니 함수*/
@keyframes ani {
    0% {opacity: 0.9; transform: scale(1); right: 0;}
    100% {opacity: 0; transform: scale(1.7); right: 150px;}
}
.btn i:nth-child(1) {
    animation: ani linear 1.5s 0s infinite; 
}
    /*animation-time-function 진행속도 linear (일정속도)
        animation-iteration-count : infinite (무한반복) number(지정한 숫자만큼 실행)
        name - time function - duration - delay - iteration count*/
.btn i:nth-child(2) {
    animation: ani linear 1.5s 0.5s infinite; 
}
.btn i:nth-child(3) {
    animation: ani linear 1.5s 1s infinite; 
}