/*section main*/
section.main {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 70px;
}
section.main h2 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: normal;
}
section.main .text {
    position: absolute;
    top: 70px;
/*    left: 390px;*/
}
section.main .text p {
    float: left;
    font-size: 12px;
}
section.main .text img {
    margin-right: 15px;
    vertical-align: -2px;
}
section.main .sub {
    font-size: 14px;
    margin-bottom: 40px;
}

/*section more*/
section.more {
    text-align: center;
    padding-top: 84px;
}
section.more h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 28px;
}
section.more h2 span {
    vertical-align: 5px;
}
section.more .sub {
    margin-bottom: 78px;
}
section.more ul {
    position: relative;
    float: right;
    left: -50%;
    margin-bottom: 90px;
}
section.more ul li {
    position: relative;
    float: left;
    left: 50%;
    margin-right: 30px;
}
section.more ul li:last-child {
    margin-right: 0;
}
section.more ul li h3 {
    margin-top: 30px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
section.more ul li .text {
    margin-top: 15px;
    font-size: 14px;
    color: #848484;
}

/*section info*/
section.info {
    width: 100%;
    position: relative;
    text-align: center;
}
section.info .text h2 {
    font-size: 36px;
    margin-bottom: 31px;
    font-weight: 500;
    letter-spacing: -1px;
}
section.info .text p {
    font-size: 14px;
}
section.info .img {
    padding-bottom: 260px;
}

/*section info first*/
section.first .text {
    position: absolute;
    top: 290px;
    left: 122px;
    text-align: left;
}

/*section info second*/
section.second .text {
    position: absolute;
    top: 290px;
    right: 122px;
    text-align: right;
}